/* Обнуление CSS */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: Open Sans Regular, sans-serif;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/* ============================ */

.container {
	max-width: 996px;
	width: 100%;
	margin: 0 auto;
	/*	padding: 0 15px;*/
}

/* Chat */

.chat__wrapper {
	overflow: hidden;
	border: 3px solid #2d4a3b;
	position: relative;
	border-radius: 15px;
	max-width: 500px;
	width: 100%;
	height: 450px;
	margin: 0 auto;
	background-color: #e2e1db;
}

.chat-title__wrap {
	margin: 0 auto;
	padding: 8px 90px;
	display: flex;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(122, 163, 127);
}

.chat-title__wrap span {
	font-size: 1.3em;
	font-weight: 500;
}

.chat-title__wrap img {
	width: 40px;
}

@media (max-width: 928px) {
	.chat-title__wrap span {
		font-size: 1.2em;
	}

	.chat-title__wrap {
		padding: 5px 80px;
	}
}

.chat__window {
	height: 81%;
	overflow-y: auto;
	overflow-x: hidden;
}

.input-inner {
	width: 100%;
	display: flex;
	align-items: center;
	position: absolute;
	left: 0;
	bottom: 0;
}

#user-text {
	background-color: #fff;
	color: black;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 34px;
	padding: 0 10px;
	font-size: 1.05em
}

#send-btn {
	cursor: pointer;
	padding: 5px 0;
	font-size: 1.1em;
	bottom: 0;
	right: 0;
	width: 40%;
}

.user {
	line-height: 1.1;
	background-color: #77d0b2;
	float: right;
	color: #fff;
	word-break: break-word;

	width: 50%;
	height: auto;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	text-align: left;
	font-weight: 500;
	position: relative;
}

.bot {
	line-height: 1.1;
	background-color: #eef2d7;
	float: left;
	color: black;

	width: 60%;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	text-align: left;
	font-weight: 500;
	position: relative;
}

.message-time {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: .75em;
	opacity: .6;
}
